.card {
  border: 1px solid white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.15s all;
}

.card:hover {
  box-shadow: 3px 3px white;
  translate: -3px -3px;
}

.card > h2{
  font-size: 32px;
}

.card > p{
  display: inline-block;
  font-size: 18px;
  color: black;
  margin: 10px 0px 1px 13px;
  padding: 3px 16px 3px 16px;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}

.card > img{
  margin: 16px;
  padding: 16px;
  border-radius: 40px;
}